@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto Final</title>

	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
	<header class="header">

		<div class="container-header" id="startsection">
			<div class="container-fluid">

				<nav class="homenav navbar fixed-top navbar-expand-lg navbar-light" id="navB">
					<div class="container-fluid">
						<a class="navbar-brand" href="#"></a>
						<button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
							data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
							aria-label="Toggle navigation">
							<i class="fas fa-bars"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="ProdutosDaMandiocultura"
										asp-action="Index">Mandiocultura</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="VendaDeArtesanatos"
										asp-action="Index">Artesanato</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Contato"
										asp-action="Contato">Contato</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>

			</div>

			<div class="img-wrapper-header">

				<img src="img/KiririHeader.jpg" alt="Povos Kiriris em roda">

			</div>

			<div class="banner-header">
				<h1>Conheça os Kiriris</h1>
				<br />
				<p>Uma breve história desses povos</p>
				<p>Aprenda um pouco sobre a cultura, conheça alguns dos seus problemas e saiba como ajudá-los</p>
				<br/>
				<a href="#main-section" id="btn-header">Saiba mais</a>
			</div>
		</div>
	</header>

	<main class="container-fluid" id="main-section">
		<div class="container-fluid primeirasessao">
			<div class="container-img-leaf-up">
				<img src="img/icons/leaf.png" id="leaf">
			</div>

			<div class="container mx-auto container-primeiro">
				<h1>Apresentação e Histórico</h1>
				<br>

				<p>Kiriri é um vocábulo tupi que significa povo "calado", "taciturno". Essa designação teria sido
					atribuída pelos Tupi da costa aos índios habitantes do sertão.
					O povo kiriri constitui hoje um grande exemplo de luta para outros povos indígenas localizados na
					região Nordeste do país. No espaço de quinze anos,
					eles se estruturaram politicamente e promoveram, em fins dos anos noventa do século passado, a
					extrusão de cerca de 1.200 não-índios incidentes na
					Terra Indígena Kiriri, homologada desde 1990.
				</p>
				<br>

				<p>O seu nome significa “povo calado”, por serem reservados. Porém, esse povo conseguiu levantar sua voz
					e reconquistar suas terras que foram apropriadas
					por posseiros durante muitas décadas, quando as famílias indígenas ameaçadas foram expulsas e
					passaram a viver no pé da serra, dificultando suas práticas e tradições.
					Por um período de quinze anos, o povo Kiriri se estruturou politicamente e, finalmente nos anos 90,
					a Terra Indígena Kiriri teve a sua demarcação administrativa
					homologada por meio de decreto, se tornando um exemplo de resiliência e inspiração para muitos
					outros povos indígenas. Esta Terra Indígena está localizada no estado da Bahia,
					no município de Banzaê (cujo nome significa “terra dos bravos”), onde hoje está organizada em nove
					aldeias em uma área conservada de 12.320 hectares de pura Caatinga.
				</p>
			</div>
			<div class="container-img-leaf-down">
				<img src="img/icons/leaf.png" id="leaf">
			</div>
			<div class="mx-auto mandiocultura">
				<h2>Mandiocultura</h2>
				<br>
				<p>A produção da farinha acontece uma vez por ano, reunindo muitas famílias na aldeia Marcação, onde
					está localizada a única unidade de beneficiamento totalmente mecanizada
					no Território Indígena, facilitando a produção de farinha de muitas famílias, inclusive de outras
					aldeias. Durante as “farinhadas” que acontecem nos meses de setembro à novembro,
					as manivas – a rama da mandioca – são guardadas na sombra ou são enterradas, na espera das chuvas
					para o seu cultivo e a esperança de uma boa colheita, que acontece aproximadamente
					um ano depois. As manivas têm um período curto de conservação, sendo necessário o seu plantio em um
					intervalo de seis meses após a colheita da mandioca, que com a falta das chuvas, se perdem
					facilmente.
				</p>
				<p>Os homens e os jovens se ocupam da farinha, já as mulheres e jovens formaram um grupo para garantir a
					geração de renda com a extração da fécula da mandioca para a produção de biscoitos de tapioca,
					como é conhecido localmente. Além dos biscoitos, as mulheres produzem bolo de aipim, mingau de
					tapioca, beiju e outros produtos.</p>
				<p>Além do beiju, que é feito com a fécula, o sussú é um outro alimento típico que marca a cultura
				alimentar deste povo, sendo feito com a massa da mandioca – a mesma que é destinada para a produção da
				farinha –
				colocada em um tacho e assado de cada lado e é servido como acompanhamento.</p>
				<br>
				<div id="carousel-mandiocultura" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carousel-mandiocultura" data-bs-slide-to="0" class="active"
							aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carousel-mandiocultura" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carousel-mandiocultura" data-bs-slide-to="2" aria-label="Slide 3"></button>

					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/image1.jpg" class="d-block w-100" alt="Homem indigena Kiriri com raiz de mandioca">
						</div>
						<div class="carousel-item">
							<img src="img/image2.jpg" class="d-block w-100" alt="Duas mulheres indigenas Kiriri peinerando tapioca">
						</div>
						<div class="carousel-item">
							<img src="img/image3.jpg" class="d-block w-100" alt="Mão de indigena Kiriri ralando mandioca com utensílio artesanal">
						</div>
					</div>
				</div>
				<br>
				<small>Foto: Agencia Dudes</small>
			</div>
			


			<div class="container mx-auto artesanato">
				<h2>Artesanato</h2>
				<br>
				<p>As comunidades indígenas baianas trabalham com matérias-primas extraídas em sua região, como argila,
					sementes, cocos, madeiras, penas, palhas e fibras. Um exemplo é a tradicional cerâmica com pintura
					em
					Tauá (pigmento de argila na cor branca), produzida por artesãs e artesãos Kiriris.</p>
				<p>Eles trazem sua tradicional cerâmica com pintura em tauá , maracas, arcos e flechas, apitos e
					colares, entre outras criações. Os Kiriris trabalham com argila, sementes e cocos diversos,
					madeiras, fibras naturais,
					como a da palmeira do licuri fiada e tecida em aiós, e penas de animais domésticos, entre outros.
				</p>
				<p>Entre os índios Kiriri, observa-se a preocupação não só de manter uma tradição cerâmica, como de
					integrar sua cultura às exigências atuais, sem perder suas raízes. Suas cerâmicas exibem uma riqueza
					e
					possibilidades ainda não completamente exploradas, necessitando de incentivo para se desdobrarem em
					trabalhos voltados para a inserção no mercado a fim de apoiar o desenvolvimento dessa comunidade
				</p>
				<br>
				<div id="carousel-artesanato" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carousel-artesanato" data-bs-slide-to="0" class="active"
							aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carousel-artesanato" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carousel-artesanato" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/1.png" class="d-block w-100" alt="Mulher Kiriri no tear">
						</div>
						<div class="carousel-item">
							<img src="img/2.png" class="d-block w-100" alt="Máscara artesanal de argila branca">
						</div>
						<div class="carousel-item">
							<img src="img/3.png" class="d-block w-100" alt="Chocalho artesanal dos povos Kiriris">
						</div>
					</div>
				</div>
				<br>
				<small>Foto: Agencia Dudes</small>
			</div>

		</div>
		
		<section class="container quote-section mx-auto">

			<div class="col-md-8 mx-auto">
				<i class="fas fa-quote-left"></i>
				<br>
				<br>
				<p>O contato com o homem branco e o
				extermínio sistemático desses povos, assim como a perda de grande parte de sua cultura e tradições,
				fez com que muitas técnicas se perdessem com o tempo. Apesar disso, os índios tentam manter viva
				a essência da sua cultura, sendo a cerâmica um meio de expressar sua própria identidade. </p>
				<p>Entre os índios Kiriri, observa-se a preocupação não só de manter uma tradição cerâmica,
				como de integrar sua cultura às exigências atuais, sem perder suas raízes. Suas cerâmicas exibem
				uma riqueza e possibilidades ainda não completamente exploradas, necessitando de incentivo para
				se desdobrarem em trabalhos voltados para a inserção no mercado a fim de apoiar o
				desenvolvimento dessa comunidade.</p>
				<p><small>- Salma Dias Almeida Sá</small></p>
				
				<small>Fonte: </small><a href="http://ri.ucsal.br:8080/jspui/handle/prefix/2066" id="fonte" target="_blank"><small>UCSAL, Universidade Católica do Salvador</small></a>
			</div>
		</section>

		<div class="container-img-forest">
			<img src="img/icons/forest.png" id="forest">
		</div>


		<div class="container">
			<section class="container banner-section">

				<div class="img-wrapper">

					<img src="img/kiriris_imagem.jpg" alt="Povos indigenas Kiriris com instrumentos">

				</div>

				<div class="banner">
					<h2 id="text-banner-sessao-final">Povos originários do sertão </h2>
					<h6>Kiriri é um vocábulo tupi que significa povo "calado" </h6>
				</div>
			</section>
		</div>
	</main>
	<script type="text/javascript">

		var navbar = document.getElementById('navB');
		window.addEventListener("scroll", function (event) {

			if (window.pageYOffset > 1200) {

				navbar.style.background = "#DFD3C3";
				$('#navbarNav').addClass("justify-content-center");
				$('.navbar-nav').removeClass("ms-auto");
				$('.homenav').addClass("container");

			} else {
				navbar.style.background = "transparent";
				$('#navbarNav').removeClass("justify-content-center");
				$('.navbar-nav').addClass("ms-auto");
				$('.homenav').removeClass("container");
			}
		});

	</script>


	<footer>
		<div>
			<div class="footer-text">
				<small>&copy; 2022</small>
				<small>Os <em>icons</em> usados neste website são de uso livre. Atribuição: <a href="https://www.freepik.com" title="Freepik" target="_blank">Freepik </a> from
        			<a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a></small>

			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js">
</script>
