USE [master]
GO
/****** Object:  Database [ProjetoFinal]    Script Date: 07/01/2022 23:28:44 ******/
CREATE DATABASE [ProjetoFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\ProjetoFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\ProjetoFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoFinal]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/01/2022 23:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosDaMandiocultura]    Script Date: 07/01/2022 23:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosDaMandiocultura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeDoProduto] [nvarchar](max) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[QuantidadeProduzida] [int] NOT NULL,
	[DataDeFabricacao] [nvarchar](max) NOT NULL,
	[DataDeValidade] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProdutosDaMandiocultura] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendaDeArtesanatos]    Script Date: 07/01/2022 23:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendaDeArtesanatos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeDoProduto] [nvarchar](max) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[QuantidadeProduzida] [int] NOT NULL,
 CONSTRAINT [PK_VendaDeArtesanatos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
